---
import { getLocaleUrlCTM } from "@/lib/utils/i18nUtils";
import { parseTomlToJson } from "@/lib/utils/tomlUtils";

const config = parseTomlToJson();
---

<a href={getLocaleUrlCTM("/", Astro.currentLocale)} class="logo-text">
  😁<span class="smile-text">Smile</span><span class="sats-text">Sats</span>
</a>

<style>
  .logo-text {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .smile-text {
    color: white;
  }

  .sats-text {
    color: #E9FD53; /* Your exact green color */
  }

  @media (max-width: 768px) {
    .logo-text {
      font-size: 20px;
    }
  }
</style>
