---
import { getLocaleUrlCTM } from "@/lib/utils/i18nUtils";
import { parseTomlToJson } from "@/lib/utils/tomlUtils";

const config = parseTomlToJson();

type Props = {
  src?: string;
  class?: string;
  width?: string;
  height?: string;
  [key: string]: any;
};

let { src, class: className } = Astro.props;

// Get logo from the correct config location
let logoPath = config.settings?.headerOffcanvas?.logo || "/images/logo-light.svg";
let logoWidth = "120px";
let logoHeight = "auto";
let title = config.site?.title || "SmileSats";

if (Astro.props.width) {
  logoWidth = Astro.props.width;
}
if (Astro.props.height) {
  logoHeight = Astro.props.height;
}
---

<a
  href={getLocaleUrlCTM("/", Astro.currentLocale)}
  class:list={["logo-wrapper", className]}
  style="display: flex; align-items: center; text-decoration: none;">

  <img
    src={logoPath}
    alt={`${title} Logo`}
    style={`
      width: ${logoWidth};
      height: ${logoHeight};
      display: block !important;
    `}
  />
</a>

<style>
  .logo-wrapper img {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
</style>
