---
import { getLocaleUrlCTM } from "@/lib/utils/i18nUtils";
---

<a
  href={getLocaleUrlCTM("/", Astro.currentLocale)}
  style="display: flex; align-items: center; text-decoration: none;">

  <img
    src="/images/logo.svg"
    alt="SmileSats Logo"
    style="width: 120px; height: auto; display: block !important;"
  />
</a>

<style>
  /* Force logo to be visible */
  img[alt="SmileSats Logo"] {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    width: 120px !important;
    height: auto !important;
  }
</style>
